$primary: #13005A;
$textColor: #03C988;
$accent: #a4cdde;



@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';



$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

$font-size-base: 16px;
$font-size-large: 24px;
$font-size-small: 14px;
$font-family-primary: 'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
$line-height-base: 1.5;
$font-weight-bold: 700;



@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-center {
    @include flex-row;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin small-only {
    @media (max-width: $breakpoint-small) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $breakpoint-medium) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-large) {
        @content;
    }
}

@mixin transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


//fluid typography
@mixin fluid-type($min-width, $max-width, $min-font-size, $max-font-size) {
    $unit1: unit($min-width);
    $unit2: unit($max-width);
    $unit3: unit($min-font-size);
    $unit4: unit($max-font-size);

    @if $unit1 ==$unit2 and $unit1 ==$unit3 and $unit1 ==$unit4 {
        & {
            font-size: $min-font-size;
            line-height: $min-font-size * 2;

            @media screen and (min-width: $min-width) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)}));
                line-height: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * 1.618 * ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)}));
            }

            @media screen and (min-width: $max-width) {
                font-size: $max-font-size;
                line-height: $max-font-size * 2;
            }
        }
    }
}





@export {
    $primary,
    $textColor,
    $accent,

    $breakpoint-small,
    $breakpoint-medium,
    $breakpoint-large,
    $spacing-small,
    $spacing-medium,
    $spacing-large,
    $font-size-base,
    $font-size-large,
    $font-size-small,
    $font-family-primary,
    $line-height-base,
    $font-weight-bold,
    flex-row,
    flex-row-center,
    flex-column,
    small-only,
    tablet,
    desktop,
    transition,
    box-sizing,
    text-overflow,
    primary-button,
    secondary-button,
    tertiary-button,
    fluid-type,
}